In [12]:
import pandas as pd

In [16]:
data = pd.read_csv('data/russia_alcohol.csv')

In [18]:
data.head()

   year              region  wine  beer  vodka  champagne  brandy
0  1998  Republic of Adygea   1.9   8.8    3.4        0.3     0.1
1  1998          Altai Krai   3.3  19.2   11.3        1.1     0.1
2  1998         Amur Oblast   2.1  21.2   17.3        0.7     0.4
3  1998  Arkhangelsk Oblast   4.3  10.6   11.7        0.4     0.3
4  1998    Astrakhan Oblast   2.9  18.0    9.5        0.8     0.2

In [19]:
data1 = pd.read_excel('data/russian population.xlsx')

In [20]:
data1.head()

               region  population
0  Republic of Adygea      453376
1          Altai Krai     2350080
2         Amur Oblast      798424
3  Arkhangelsk Oblast     1111031
4    Astrakhan Oblast     1017514

In [21]:
data1.to_csv('population.csv', index=False)